body {
    background-image: url(https://upload.wikimedia.org/wikipedia/ru/6/6b/NyanCat.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    font-size: 100px;
    border-radius: 9px;
    background-color:rgb(29, 47, 128);
    color: aliceblue;
}
p{
    font-size: 80px;
    color:aliceblue;
}